*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
tr td {
    width: 1000px;
    height: 95px;
}
table{
   
    background-color: #033FAA;
    height: 100vh;
}
#conta{
    text-align: center;
    font-size: 40px;
    color: white;
}
#email{
    font-size: 25px;
    border-radius: 12px;
    border-color: rgb(243, 174, 42);
}

label{
    color: white;
    font-size: 25px;
}
#password{
    font-size: 25px;
    border-radius: 12px;
    border-color: rgb(243, 174, 42);
}

.beru{
    position: relative;
}
#eye{
    position: absolute;
    top: 5%;
    right: 1%;
    width: 30px;
    cursor: pointer;
}
.Botao{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border-color: rgb(243, 174, 42);
    background-color: rgb(243, 174, 42);
    
}
.Botao{
    transition-duration: 0.4ms;
}
.Botao:hover{
    background-color: white;
    color: black;
}
.generico{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
  
  
    
